---
const platform = "github";
const username = "someuser";
---

<footer>
  <br/><hr/>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
    <br/>
    Connect to me on Twitter at <a href={`twitter.com/${username}`}>{username}</a>
  </p>
</footer>
